<div *ngIf = 'searchBarVisibility == false'>
    <div fxLayout="row" fxLayoutAlign="center">
        <div fxFlex='100%'>
            <mat-card>
                <mat-card-title>Search a movie</mat-card-title>
                <mat-card-subtitle>Search any movie by name. We find movies for you to watch</mat-card-subtitle>
                <button (click)='flipSearchBarVisibility()' mat-raised-button color='primary'>Search</button>
                <a href='#'><button mat-raised-button color='primary'>Login</button></a>
            </mat-card>
        </div>
    </div>
</div>
<div *ngIf = 'searchBarVisibility == true'>
    <button mat-raised-button color = 'primary' (click) = 'flipSearchBarVisibility()'>Back</button>
    <mat-form-field>
        <input autofocus (keyup)='typed($event)' id='search' name='search' type="text" matInput [formControl]="myControl"
            [matAutocomplete]="auto" placeholder="Search">
    </mat-form-field>
    
    <mat-autocomplete #auto="matAutocomplete">
        <a routerLink='/movie'><mat-option *ngFor="let movie of results" (click) = "showDetails(movie)" [value]="movie['fields']['name']">{{ movie['fields']['name'] }}
        </mat-option></a>
    </mat-autocomplete>
</div>